body {
	margin: 0.5in 1in;
	font-family: sans-serif;
}

header {
	background-color: #D2E9F3;
	text-align: center;
	padding: 10px 0px 0px;
	font-variant: small-caps;
}

ul {
	background-color: #777;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
}

a {
	display: block;
	padding: 15px;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	background-color: #555;
}
