body {
	font-family: sans-serif;
}

header {
	background-color: #D3D2EF;
	text-align: center;
	padding: 1px 0px 0px;
	font-variant: small-caps;
}

.main-menu {
	list-style-type: none;
	background-color: #777;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.sub-menu {
	list-style-type: none;
	background-color: #888;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
}

a {
	display: block;
	padding: 15px;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	background-color: #555;
}

main {
	margin: 0.5in 1in;
}
