body {
	margin: 1in;
}

header {
	background-color: #a1c3eb;
	text-align: center;
	padding: 10px;
}

ul {
	list-style-type: none;
	background-color: #afafaf;
}

ul a {
	float: left;
	display: block;
	text-align: center;
	padding: 10px;
}
	
